/*body{
    margin:0;
    overflow: hidden;
    width: 100%;
}*/
body{
    margin:0 auto;
    overflow: hidden;
    border:solid black 2px;
}

div.main {
    color: black;
    background-color: gold;
    height:60vh;
}
div.main iframe {
  height:100%;
    width: 100%;
}
div#top {
    overflow: hidden;
    background-color: green;
    text-align: center;
    }
div#top h1{
  font-size:10vh;
  margin: 3vh 0 4vh 0;
}
.navbar{
  margin:3vh 0 4vh 0;
}
.navbar img
{
    padding: 0;
    border-right: 3px solid black;
}
.navbar a:last-of-type img
{
    border:none;
    margin-right: 0vh;
}
.navbar img{
    padding: 3vh;
    margin-bottom: 0vh;
    width: 11vh;
}
div#bot {
  overflow: hidden;
  height:30%;
}
