body{
  font-family:'Malgun Gothic';
  font-size:16px;
}
#best3{
    text-align: center;
}
.best-menu > .item_frame {
    width: 10%;
    align-content: center;
}

.all-menu > .item_frame > img {
    width: 10%;
    align-content: center;
}